.DS_Store
.vscode/*
bin/*
err.txt
install
miniwasm
miniwasm.exe
out.*
raylib/examples
test/bench/results.json
test/core/*.txt
test/*.wasm
*.core
*.exe
*.exp
*.gcda
*.ilk
*.lib
*.o
*.pdb
*.tmp
*.wasm
*.wat
*.profdata